.breed{
	width: 90%;
	padding: 25px;
	background-color: aquamarine;
	
}
.breed p, .subBreed p {
	display: inline-block;
	padding-right: 10px;
}
.subBreed{
	width: 90%;
	padding: 25px;
	background-color:darkkhaki ;
	
}
.breedImg{
	width: 90%;
	padding: 5px;
	background-color:darkseagreen;
    text-align: center;
}
#imageDog{
    max-width: 99%;
    max-height: 300px;
}