.breed{
	width: 90%;
	padding: 25px;
	background-color: aquamarine;
	
}
.breed p, .subBreed p {
	display: inline-block;
	padding-right: 10px;
}
.subBreed{
	width: 90%;
	padding: 25px;
	background-color:darkkhaki ;
	
}